.count_container {

    width: auto;
    height: 50vh;
    border: 5px solid purple;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
}


.single_value {



}