* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    
    display: grid;
    margin: auto;
    height: 100%;
    width: 100%;
    padding: 2%;
 background-color: gray;


}


.graph {
    /* margin: auto; */
    /* justify-content: space-around; */
    /* align-items: center; */
    height: 50vh;
    border: 5px solid purple;
    display: grid;
     /* background-color: black; */
     grid-template-columns: 2fr 1fr;
     grid-template-rows: (minmax(2,100));
     grid-gap: 2px;
 
}